<!DOCTYPE html>
<html>
<head>
	<title>Satuzo Register</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="./case/assets/logo.png">
</head>
<body>
	<div class="nav">
		<img src="./case/assets/header-logo.png" style="height: 50px">
		<p style="padding-right: 50px"><a href="index.html">Home</a></p>
	</div>

	
	<form>
		<div>Became a Member!</div>
		<input type="email" placeholder="Email" />
		<input type="text" placeholder="Password" />
		<input type="text" placeholder="Member's Type" />
		<textarea placeholder="Address"></textarea>
		<div class="tnc">
			<input type="checkbox" name="checkbox" value="check">
			<p>I have read and agree to the Terms and Conditions and Privacy Policy</p>
		</div>
		
		<div class="button-container">
				<button>Register</button>
		</div>
	</form>
</body>
</html>