{% extends "base.html" %}
{% block content %}
<div class="page-content">
<body style="margin-left: 30%; margin-right:30%; margin-top: 5%;">
    <h2>Login</h2>
    <br>
    <form method="POST" action="">
        {% csrf_token %}

        {{form.free}} <br>
        {{form.password}}
        
        <div style="text-align: center;">
            <div> 
                <!-- <input type="submit" name="Login User" style="border-width: thin; font-weight: bold; cursor: pointer; border-radius: 7.5px; color: #435ebe;"> -->
                <button class="btn btn-primary" type="submit" name="Login User" style="margin-top: 7%; width: 200px;">Submit</button>
            </div><br>
            <p><small>--------- OR ---------</small></p>
            <div> 
                <a href="{{url}}/register/admin" class="btn btn-outline-secondary" style="width: 200px">Register</a>
            </div>
        </div>
    </form>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "email or username"
        form_fields[2].placeholder = "password"
        // form_fields[1].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        // form_fields[2].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        form_fields[1].className = "form-control"
        form_fields[2].className = "form-control"
        form_fields[2].type = "password"

        localStorage.set("email_or_username", form_fields[1])
    </script>
</html>
{% endblock content %}