{% extends "base.html" %}
{% block content %}
<div class="page-heading">
    <h3>Emergency Services</h3>
    <h5 style="color: #6c757d">Camera ID: {{camera_id}}</h5>
</div>
<div class="page-content">
    <section class="row">
        <div style="height: 65px;">
            <button class="stats-icon blue" type="button" name="Add Service" style="width: 136px; height: 30px; text-align: center;
            background-color: transparent; font-size: 14px; margin-top: 10px; margin-right: 5.5%; border-color: #6c757d;">
                <a href="http://localhost:8000/new-service/admin" style="text-decoration: none;">Add Service</a>
            </button>
        </div>
        <table style="text-align: center;">
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
            {% for column in data %}
            <tr style="border-color: --br-primary; border-width: 1px;">
                <td>{{column.name}}</td>
                <td>{{column.address}}</td>
                <td>{{column.phone_number}}</td>
                <td>{{column.type}}</td>
                {% if column.name != "-" %}
                <td>
                    {% if column.is_selected == True %}
                    <button type="button" name="Selected" style="width: 136px; height: 30px; text-align: center; border-color: #6c757d;
                    background-color: lightgray; font-size: 14px; margin-top: 5px; margin-bottom: 5px; border-radius: 7.5px; cursor: default;">
                        SELECTED
                    </button>
                    {% else %}
                    <button type="button" name="Select" style="width: 67px; height: 30px; text-align: center; border-color: #6c757d;
                    background-color: transparent; font-size: 14px; margin-top: 5px; margin-bottom: 5px; border-radius: 7.5px;">
                        <a href="http://localhost:8000/services/admin/{{column.id}}?action=1" style="text-decoration: none;">Select</a>
                    </button>
                    <button type="button" name="Delete" style="width: 67px; height: 30px; text-align: center; border-color: #6c757d;
                    background-color: transparent; font-size: 14px; margin-top: 5px; margin-bottom: 5px; border-radius: 7.5px;">
                        <a href="http://localhost:8000/services/admin/{{column.id}}?action=2" style="text-decoration: none;">Delete</a>
                    </button>
                    {% endif %}
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock content %}