{% extends "base.html" %}
{% block content %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="page-heading">
    <h3>Add New Service</h3>
    <h5 style="color: #6c757d">Camera ID: {{camera_id}}</h5>
</div>
<div class="page-content">
    <section class="row">
        <form method="POST" action="" style="font-size: 16px;">
            {% csrf_token %}
            
            Service Type: {{form.type}} <br><br>
            Name:<br>
            {{form.name}} <br><br>
            Address:<br>
            {{form.address}} <br><br>
            Phone Number:<br>
            {{form.phone_number}} <br>
    
            <div> 
                <input class="button" type="submit" name="Create User" style="border-color: #6c757d; border-width: 1px; border-radius: 7.5px;
                margin-top: 7%; width: 120px;">
            </div>
        </form>
        <script>
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px; width: 300px"
            form_fields[2].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px; width: inherit; height: 100px;"
            form_fields[3].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px; width: 200px"
            form_fields[3].type = "number"
        </script>
{% endblock content %}