{% extends "base.html" %}
{% block content %}
<div class="page-heading">
    <h3>Emergency Services</h3>
    <h5 style="color: #6c757d">Camera ID: {{camera_id}}</h5>
</div>
<div class="page-content">
    <section class="row">
        <div style="height: 65px;">
            <a href="{{url}}/new-service/admin" class="btn btn-primary btn-md">+ New Service</a>
        </div>
        <table style="text-align: center;">
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
            {% for column in data %}
            <tr style="border-color: --br-primary; border-width: 1px; height: 60px;">
                <td>{{column.name}}</td>
                <td>{{column.address}}</td>
                <td>{{column.phone_number}}</td>
                <td>{{column.type}}</td>
                {% if column.name != "-" %}
                <td>
                    {% if column.is_selected == True %}
                    <a href="#" class="btn disabled btn-primary btn-sm" style="width: 120px;">SELECTED</a>
                    {% else %}
                    <a href="{{url}}/services/admin/{{column.id}}?action=1" class="btn btn-outline-secondary btn-sm">Select</a>
                    <a href="{{url}}/services/admin/{{column.id}}?action=2" class="btn btn-outline-secondary btn-sm">Delete</a>
                    {% endif %}
                </td>
                {% else %}
                <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock content %}