{% extends "base.html" %}
{% block content %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="page-content">
<body style="margin-left: 30%; margin-right:30%;">
    <h2>Register</h2><br>
    <form method="POST" action="">
        {% csrf_token %}

        {{form.full_name}} <br>
        {{form.email}} <br>
        {{form.username}} <br>
        {{form.password}} <br>
        {{form.phone_number}}

        <small>* Please use prefix 64</small>
        <div style="text-align: center;">
            <div> 
                <button class="btn btn-primary" type="submit" name="Create User" style="margin-top: 5%; width: 200px;">Submit</button>
            </div><br>
            <p><small>--------- OR ---------</small></p>
            <div> 
                <a href="{{url}}/login/admin" class="btn btn-outline-secondary" style="width: 200px">Login</a>
            </div>
        </div>
    </form>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = "Home Name"
        form_fields[2].placeholder = "Email"
        form_fields[3].placeholder = "Username"
        form_fields[4].placeholder = "Password"
        form_fields[5].placeholder = "Home Number"
        // form_fields[1].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        // form_fields[2].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        // form_fields[3].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        // form_fields[4].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        // form_fields[5].style = "border-radius: 7.5px; border-color: #6c757d; border-width: 1px;"
        form_fields[1].className = "form-control"
        form_fields[2].className = "form-control"
        form_fields[3].className = "form-control"
        form_fields[4].className = "form-control"
        form_fields[5].className = "form-control"
        form_fields[4].type = "password"
        form_fields[5].type = "number"
    </script>
</body>
</html>
{% endblock content %}